[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
python-language-server = {extras = ["mccabe", "pycodestyle", "pydocstyle", "pyflakes", "rope"], version = "*"}

[requires]
python_version = "3.7"

[packages]
google-api-core = "~=1.8"
python-json-logger = "~=0.1"
pyjwt = "~=1.7"
